<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <title>flyx.org - {{ page.title }}</title>
      <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css"/>
      <link href="/css/syntax.css" media="screen" rel="stylesheet" type="text/css"/>
      <link rel="icon" type="image/png"  href="/img/icon.png" />
      <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />
   </head>

   <body>
      <header>
         <a href="/">
            <h1>flyx.org</h1>
            <h2>Personal homepage of Felix Krause</h2>
         </a>
      </header>

      <div id="main">
         <nav>
            <div id="navigation">
               <h3>Navigation</h3>
               <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/about/">About me</a></li>
                  <li><a href="/projects/">Projects</a>
                     <ul>
                        <li><a href="/projects/ams/">AMS</a></li>
                     </ul>
                  </li>
               </ul>
               <h4>External Links</h4>
               <ul>
                  <li><a href="https://github.com/flyx86">GitHub Profile</a></li>
                  <li><a href="http://www.youtube.com/user/FordPrefect86">YouTube Channel</a></li>
                  <li><a href="http://shackspace.de/">shackspace</a></li>
                  <li><a href="http://unimusik-stuttgart.de/">Unimusik Stuttgart</a></li>
               </ul>
            </div>
            <div id="archive">
               <h3>Archive</h3>
               <ul>
                  {% assign lyear = 0 %}
                  {% assign lmonth = 0 %}
                  {% for post in site.posts %}
                     {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
                     {% capture month %}{{ post.date | date: '%m' }}{% endcapture %}
                     {% if lyear != year %}
                        {% if lyear != 0 %}
                                    </ul>
                                 </li>
                              </ul>
                           </li>
                        {% endif %}
                           <li class="navyear">{{ year }}<br />
                              <ul>
                        {% assign lmonth = 0 %}
                     {% endif %}
                     {% assign lyear = year %}
                     {% if lmonth != month %}
                        {% if lmonth != 0 %}
                              </ul>
                           </li>
                        {% endif %}
                           <li class="navmonth">{{ post.date | date: '%B' }}<br />
                              <ul>
                     {% endif %}
                     {% assign lmonth = month %}
                     <li class="navpost">
                        <a {% if post.url == page.url %}class="active"{% endif %} href="{{ post.url }}">{{ post.title }}</a>
                     </li>
                  {% endfor %}
                           </ul>
                        </li>
                     </ul>
                  </li>
               </ul>
            </div>
         </nav>
   
         {{ wrapped_content }}
      </div>

      <footer>
         <div>
            <p>Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a>. <a href="/imprint/">Imprint</a></p>
         </div>
      </footer>
   </body>
</html>